# MongoDB
MONGODB_URI=
# or use separate fields below
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_CLUSTER=
MONGODB_DB_NAME=gundam-store

# Auth
JWT_SECRET=
GUEST_OTP_JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PRODUCT_FOLDER=gundam-store/products
