@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './tailwind.css';
@import './theme.css';

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-size: clamp(14px, 2vw, 16px);
}

img,
video,
canvas,
svg {
	max-width: 100%;
	height: auto;
}
